<!-- LeftMenu -->
<div class="row clearfix">
    <nav class="left-menu">
        <img src="{{ asset('bundles/app/images/pol5-s250.jpg') }}" alt="Clinic" class="logo"/>
        <ul>
            <li><a href="{{ path('homepage') }}"><i class="fa fa-hospital-o"></i> Головна</a></li>
            <li><a href="{{ path('sections') }}"><i class="fa fa-user-md"></i> Відділення</a></li>
            <li><a href="{{ path('publications') }}"><i class="fa fa-newspaper-o"></i> Публікації</a></li>
            <li><a href="{{ path('rewards') }}"><i class="fa fa-trophy"></i> Відзнаки</a></li>
            <li><a href="{{ path('appointment') }}"><i class="fa fa-medkit"></i> Графіки прийому</a></li>
            <li><a href="{{ path('contacts') }}"><i class="fa fa-phone"></i> Контаки</a></li>
        </ul>
    </nav>
</div>
<!-- /LeftMenu -->
