<!-- Employee card -->
{% if employee.avatar %}
{#    {% path employee.avatar, 'preview' %} #}
    {% media employee.avatar, 'preview' %}
{% endif %}
<p>{{ employee.firstname }} {{ employee.middlename }} {{ employee.lastname }}</p>
<p>День рождения {{ employee.getdobstring }}</p>
<p>{{ employee.position }}</p>
<!-- /Employee card -->
