<!-- Employee card -->
<p>{{ employee.firstname }} {{ employee.middlename }} {{ employee.lastname }}</p>
<p>{{ employee.getdobstring }}</p>
<p>{{ employee.position }}</p>
{% if employee.media %}
    {% path employee.media, 'preview' %}
    {% media employee.media, 'preview' %}
{% endif %}
<br>
<br>
<!-- /Employee card -->
