<!-- Employee card -->
<div class="clearfix">
    <div class="col-md-2 col-md-offset-0">

        {% if employee.avatar %}
        {#    {% path employee.avatar, 'preview' %} #}
            {% media employee.avatar, 'small' with {'class': 'img-circle'} %}
        {% endif %}
    </div>
    <div class="col-md-9 col-md-offset-1">
        <br/><br/>
        <div class="body-employees">{{ employee.firstname }} {{ employee.middlename }} {{ employee.lastname }}</div>
        {#День рождения {{ employee.getdobstring }}<br/>#}
        <b class="body-title-employees">{{ employee.position }}</b><br/>
    </div>
</div>
<!-- /Employee card -->
