{% extends ":default:index.html.twig" %}

{% block page %}

<!-- BODY -->
<section id="Body">
    <div class="row clearfix body-text">

        <h3 class="body-title">Історія поліклініки</h3>
        <div class="body-main-text-with-bunner">
            <div class="bunner">
                <a href="http://fotonikaplus.com.ua/" target="_blank"><img src="{{ asset('bundles/app/images/bunners/fotonika.png') }}" alt="П’ята Черкаська міська поліклініка" class="img-responsive"/></a>
                <br/>
                <a href="http://www.scaner.ck.ua/" target="_blank"><img src="{{ asset('bundles/app/images/bunners/scaner.png') }}" alt="П’ята Черкаська міська поліклініка" class="img-responsive"/></a>
                <br/>
                <a href="http://dr.ck.ua/" target="_blank"><img src="{{ asset('bundles/app/images/bunners/dregion.jpg') }}" alt="П’ята Черкаська міська поліклініка" class="img-responsive "/></a>
                <br/>
                <a href="https://www.facebook.com/volontercherkasy" target="_blank"><img src="{{ asset('bundles/app/images/bunners/volonteri.jpg') }}" alt="П’ята Черкаська міська поліклініка" class="img-responsive"/></a>
                <br/>

            </div>

            <h3>Комунальне некомерційне підприємство</h3>

            <h3>«П’ята Черкаська міська поліклініка» Черкаської міської ради</h3>

            <img src="{{ asset('bundles/app/images/pol5-s250.jpg') }}" alt="П’ята Черкаська міська поліклініка" class="img-responsive s-hide body-img-r"/>

            П’ята Черкаська міська поліклініка відкрита в 1992 році. Поліклініка надає первинну медико-санітарну допомогу мешканцям Південно-західного району міста Черкаси. З 2007р. заклад акредитований на вищу акредаційну категорію.
            <br/><br/>
            <i>У поліклініці працює 48 лікарів та 87 сестер медичних.</i>
            <br/><br/>
            З 2012р. всі дільничні лікарі після перепідготовки працюють, які лікарі загальної практики сімейної медицини (ЗПСМ). Поліклініка забезпечена лікарями консультантами – невропатологами, отоларингологами, хірургами, дерматологи, травматологами, урологом та офтальмологом, згідно штатного розкладу. Клінічна лабораторія поліклініки щоденно (без попередніх записів) проводить всі необхідні види лабораторних обстежень. Відповідно до галузі акредитації.
            <br/><br/>

            <img src="{{ asset('bundles/app/images/certificates/cer2.jpg') }}" alt="П’ята Черкаська міська поліклініка" class="img-responsive s-hide body-img-l"/>

            На допомогу спеціалістам та лабораторії в поліклініці наявний неінвазивний аналізатор. Технічні можливості неінвазівного аналізатора, що використовується при обстеженні хворих - <i>понад 130 функціональних показників.</i>
            <br/><br/>
            Рентгенологічне відділення має ліцензію на роботу з іонізуючим випромінюванням. З 2010 року в поліклініці експлуатується сучасний мамограф виробництва США, який доз-воляє діагностувати захворювання молочної залози на ранніх стадіях. Лікар пройшла підготовку по онкомамології.
            <br/><br/>
            <i>З 2014р. після спеціалізації лікарі поліклініки почали проводити УЗД різних локалізацій.</i>
            <br/><br/>
            У поліклініці запроваджено низку малоінвазівних методик в урології, отоларингології та хірургії, дерматології, гінекології. Лікарі поліклініки опанували лікування із застосуванням хірургічного лазера. Цей метод дуже ефективний при лікуванні багатьох патологій, зокрема контрактури Дюпіетрена, варикозної хвороби нижніх кінцівок та гінекологічних, дерматологічних захворювань.
            <br/><br/>

            <img src="{{ asset('bundles/app/images/some/DSC_6773-large.jpg') }}" alt="П’ята Черкаська міська поліклініка" class="img-responsive s-hide body-img-r"/>

            <i>У поліклініці наявний дерматоскоп, що дає можливість лікарю дерматологу запідозрити та вчасно направити хворого на лікування з новоутвореннями шкіри.</i>
            <br/><br/>
            На базі поліклініки хворі проходять реабілітацію після травм, інсультів, інфарктів міокарда. Відділення фізіотерапії та реабілітації обладнано фізіотерапевтичною апаратурою та тренажерами. В комплексному лікуванні широко використовуються голкорефлексотерапія та герудотерапія.
            <br/><br/>
            У поліклініці працює денний стаціонар на 22 ліжка. В його палатах створено комфортні умови для перебування пацієнтів. Вони отримують повноцінне лікування та відчувають добросердечність, порядність, комунікабельність медичного персоналу. В процесі комплексного лікування використовуються внутрішньовенний лазер та озонотерапія, що зменшує витрати хворих на медикаменти та тривалість лікування.
            <br/><br/>

            <img src="{{ asset('bundles/app/images/certificates/cer4.jpg') }}" alt="П’ята Черкаська міська поліклініка" class="img-responsive s-hide body-img-l"/>

            П’ята Черкаська міська поліклініка єдина в місті медична установа, що має відділення гідроколонотерапію зі спеціальною водопідготовкою та лікувальними розчинами. Це дає змогу оздоровлювати хворих із захворюваннями шлунково-кишкового тракту, шкірними захворюваннями, хронічними захворюваннями органів малого тазу, хворобами обміну речовин тощо.
            <br/><br/>
            <i>Значна та постійна увага приділяється поліпшенню санітарно-епідемічного стану поліклініки та прилеглої території, а також зовнішнього і внутрішнього оздоблення кабінетів і приміщень.</i>
            <br/><br/>
            Статті лікарів поліклініки друкуються в періодичній пресі та науково-практичних виданнях. В поліклініці постійно удосконалюються стиль і методи роботи, практикується творчий підхід до вирішення різноманітних питань.
            <br/><br/>
        </div>
    </div>
</section>
<!-- /BODY -->

{% endblock %}