{% extends ":default:index.html.twig" %}

{% block page %}

<!-- BODY -->
<section id="Body">
    <div class="row clearfix body-text">
        <h3 class="body-title">Нагороди поліклініки</h3>
        <div class="body-gallery">
            <a rel="gallery-1" href="{{ asset('bundles/app/images/gram1.jpg') }}" class="swipebox">
                <img src="{{ asset('bundles/app/images/gram1.jpg') }}" alt="Clinic" class=" body-img-gallery"/>
            </a>
            <a rel="gallery-1" href="{{ asset('bundles/app/images/gram2.jpg') }}" class="swipebox">
                <img src="{{ asset('bundles/app/images/gram2.jpg') }}" alt="Clinic" class=" body-img-gallery"/>
            </a>
            <a rel="gallery-1" href="{{ asset('bundles/app/images/gram3.jpg') }}" class="swipebox">
                <img src="{{ asset('bundles/app/images/gram3.jpg') }}" alt="Clinic" class=" body-img-gallery"/>
            </a>
            <a rel="gallery-1" href="{{ asset('bundles/app/images/gram1.jpg') }}" class="swipebox">
                <img src="{{ asset('bundles/app/images/gram1.jpg') }}" alt="Clinic" class=" body-img-gallery"/>
            </a>
            <a rel="gallery-1" href="{{ asset('bundles/app/images/gram2.jpg') }}" class="swipebox">
                <img src="{{ asset('bundles/app/images/gram2.jpg') }}" alt="Clinic" class=" body-img-gallery"/>
            </a>
            <a rel="gallery-1" href="{{ asset('bundles/app/images/gram3.jpg') }}" class="swipebox">
                <img src="{{ asset('bundles/app/images/gram3.jpg') }}" alt="Clinic" class=" body-img-gallery"/>
            </a>
            <a rel="gallery-1" href="{{ asset('bundles/app/images/gram1.jpg') }}" class="swipebox">
                <img src="{{ asset('bundles/app/images/gram1.jpg') }}" alt="Clinic" class=" body-img-gallery"/>
            </a>
            <a rel="gallery-1" href="{{ asset('bundles/app/images/gram2.jpg') }}" class="swipebox">
                <img src="{{ asset('bundles/app/images/gram2.jpg') }}" alt="Clinic" class=" body-img-gallery"/>
            </a>
            <a rel="gallery-1" href="{{ asset('bundles/app/images/gram3.jpg') }}" class="swipebox">
                <img src="{{ asset('bundles/app/images/gram3.jpg') }}" alt="Clinic" class=" body-img-gallery"/>
            </a>
            <a rel="gallery-1" href="{{ asset('bundles/app/images/gram1.jpg') }}" class="swipebox">
                <img src="{{ asset('bundles/app/images/gram1.jpg') }}" alt="Clinic" class=" body-img-gallery"/>
            </a>
            <a rel="gallery-1" href="{{ asset('bundles/app/images/gram2.jpg') }}" class="swipebox">
                <img src="{{ asset('bundles/app/images/gram2.jpg') }}" alt="Clinic" class=" body-img-gallery"/>
            </a>
            <a rel="gallery-1" href="{{ asset('bundles/app/images/gram3.jpg') }}" class="swipebox">
                <img src="{{ asset('bundles/app/images/gram3.jpg') }}" alt="Clinic" class=" body-img-gallery"/>
            </a>
        </div>
    </div>
</section>
<!-- /BODY -->

{% endblock %}